% Project:  TeX Cover Letter Template
% Author:   Sid Lacy
% Modified for AIDA-based cover letter generation

\documentclass[12pt]{letter}
\usepackage[utf8]{inputenc}
\usepackage[empty]{fullpage}
\usepackage[hidelinks]{hyperref}
\usepackage{graphicx}
\usepackage{fontawesome5}
\usepackage{eso-pic}
\usepackage{charter}
\usepackage{tabularx}
\usepackage{xcolor}
\usepackage{fancyhdr}

% centered version of 'X' col. type
\newcolumntype{C}{>{\centering\arraybackslash}X} 
\addtolength{\topmargin}{-0.5in}
\addtolength{\textheight}{1.0in}
\definecolor{gr}{RGB}{225,225,225}

% Page header
\pagestyle{fancy}
\fancyhf{}
\fancyhead[C]{\textit{Application to {{ jd_summary.company }} --- {{ jd_summary.role }}}}
\renewcommand{\headrulewidth}{0.4pt}
\setlength{\headsep}{0.3in}

\begin{document}

% Header
\begin{tabularx}{\linewidth}{@{} C @{}}
{\Large {{ profile.name }} }\\[7.5pt]
\faMapMarker\ {{ profile.address }} \ $|$ \ \href{mailto:{{ profile.email }}}{\raisebox{-0.05\height}\faEnvelope\ {{ profile.email }}} \ $|$ \ \href{tel:{{ profile.phone }}}{\raisebox{-0.05\height}\faMobile\ {{ profile.phone }}} \\
\end{tabularx}

{{ jd_summary.company }}\\
{{ jd_summary.address }}\\
{{ jd_summary.zip }}, {{ jd_summary.city }}\\


% Opening block
Bulach, \today\\

\vspace{-0.1in}Dear {{ jd_summary.hr}}

\vspace{-0.1in}\setlength\parindent{0pt}
\noindent

{{ cover_letter_content.paragraph_1 }}

\vspace{0.1in}
{{ cover_letter_content.paragraph_2 }}

\vspace{0.1in}
{{ cover_letter_content.paragraph_3 }}

\vspace{0.1in}
{{ cover_letter_content.paragraph_4 }}

% Closer
\vspace{0.1in}
\vfill

\begin{flushleft}
Kind Regards,\\
[\bigskipamount]
{\Large $\mathcal{Z}. \mathcal{G}\mathcal{O}\mathcal{N}\mathcal{G}$}\\
{{ profile.name }}
\end{flushleft}

\end{document}
