\documentclass[a4paper,11pt]{article}

%----------------------------------------------------------------------------------------
%	PACKAGES
%----------------------------------------------------------------------------------------
\usepackage{url}
\usepackage{parskip} 	

%tabularx environment
\usepackage{tabularx}
%other packages for formatting
\RequirePackage{color}
\RequirePackage{graphicx}
\usepackage[usenames,dvipsnames]{xcolor}
\usepackage[scale=0.9]{geometry}

%for lists within experience section
\usepackage{enumitem}

% centered version of 'X' col. type
\newcolumntype{C}{>{\centering\arraybackslash}X} 

%to prevent spillover of tabular into next pages
\usepackage{supertabular}
\usepackage{tabularx}
\newlength{\fullcollw}
\setlength{\fullcollw}{0.47\textwidth}

%custom \section
\usepackage{titlesec}				
\usepackage{multicol}
\usepackage{multirow}

%CV Sections inspired by: 
%http://stefano.italians.nl/archives/26
\titleformat{\section}{\Large\scshape\raggedright}{}{0em}{}[\titlerule]
\titlespacing{\section}{0pt}{10pt}{10pt}

%for publications
\usepackage[style=authoryear,sorting=ynt, maxbibnames=2]{biblatex}

%Setup hyperref package, and colours for links
\usepackage[unicode, draft=false]{hyperref}
\definecolor{linkcolour}{rgb}{0,0.2,0.6}
\hypersetup{colorlinks,breaklinks,urlcolor=linkcolour,linkcolor=linkcolour}
\addbibresource{citations.bib}
\setlength\bibitemsep{1em}

%for social icons
\usepackage{fontawesome5}

%debug page outer frames
%\usepackage{showframe}


% job listing environments
{% raw %}
\newenvironment{jobshort}[2]
    {
    \begin{tabularx}{\linewidth}{@{}l X r@{}}
    \textbf{#1} & \hfill &  #2 \\[3.75pt]
    \end{tabularx}
    }
    {
    }

\newenvironment{joblong}[2]
    {
    \begin{tabularx}{\linewidth}{@{}l X r@{}}
    \textbf{#1} & \hfill &  #2 \\[3.75pt]
    \end{tabularx}
    \begin{minipage}[t]{\linewidth}
    \begin{itemize}[nosep,after=\strut, leftmargin=1em, itemsep=3pt,label=--]
    }
    {
    \end{itemize}
    \end{minipage}    
    }
{% endraw %}

\begin{document}

% non-numbered pages
\pagestyle{empty} 


\begin{tabularx}{\linewidth}{@{} C @{}}
{\Huge {{ profile.name }} }\\[7.5pt]
{% if profile.github %}\href{https://{{ profile.github }}}{\raisebox{-0.05\height}\faGithub\ {{ profile.github.split('/')[-1] }}}{% endif %}{% if profile.github and profile.linkedin %} \ $|$ \ {% endif %}{% if profile.linkedin %}\href{https://{{ profile.linkedin }}}{\raisebox{-0.05\height}\faLinkedin\ {{ profile.linkedin.split('/')[-1] }}}{% endif %}{% if (profile.github or profile.linkedin) and profile.email %} \ $|$ \ {% endif %}{% if profile.email %}\href{mailto:{{ profile.email }}}{\raisebox{-0.05\height}\faEnvelope\ {{ profile.email }}}{% endif %}{% if profile.email and profile.phone %} \ $|$ \ {% endif %}{% if profile.phone %}\href{tel:{{ profile.phone }}}{\raisebox{-0.05\height}\faMobile\ {{ profile.phone }}}{% endif %} \\
\end{tabularx}

\section*{Work Experience}
{% for work_key in works %}
\begin{joblong}{\textbf {{ profile[work_key]['title'] }}\normalfont, {{ profile[work_key]['name'] }}, {{ profile[work_key]['city'] }}}{\normalfont {{ profile[work_key]['time'] }}}
{% for item in selected[work_key] %}
\item {{ item }}
{% endfor %}
\end{joblong}
{% endfor %}
\end{document}

